# Dépendances
node_modules

# Fichiers de développement
.git
.gitignore
README.md
*.md

# ESLint
eslint.config.js

# Logs
*.log
npm-debug.log*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Build output (on le génère dans le conteneur)
dist
